# Arquivos temporários do Robot Framework
output.xml
report.html
log.html

# Logs e relatórios gerados pelo Robot Framework
logs/
results/
reports/

# Virtual environments do Python
.DS_Store
.venv/
env/
